<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <h2>Your rooms</h2>
    <div id="rooms">

    </div>

    <script>
        function fetchRooms() {
            return fetch(`http://localhost:8000/api/room/`,
                {
                    "method": "GET",
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${localStorage.getItem('Authorization')}`
                    }
                }).then(resp => resp.json())
        }

        let roomsArr = null
        function showRooms(resp) {
            roomsArr = resp

            let roomsBlock = document.getElementById('rooms')
            for (let room of resp) {
                let btn = document.createElement("button");
                btn.addEventListener('click', (e) => {
                    window.location.pathname = `/chat/${room.id}/`;
                })

                btn.innerHTML = `ID: ${room.id}, Title: ${room.title}`;
                btn.type = "submit";

                roomsBlock.appendChild(btn);
                roomsBlock.appendChild(document.createElement("br"))
            }
        }

        window.addEventListener('load', (e) => {
            fetchRooms()
            .then(showRooms)
            .catch(error => console.log(error))
        })
    </script>
</body>
</html>
