<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_pk|json_script:"room-pk" }}
    <script>
        const roomPK = JSON.parse(document.getElementById('room-pk').textContent);

        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomPK}/?token=${ localStorage.getItem('Authorization')}`);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.sender + ': ' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        function fetchMessages(roomPK) {
            return fetch(`http://localhost:8000/api/room/${roomPK}/`,
                {
                    "method": "GET",
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Token ${localStorage.getItem('Authorization')}`
                    }
                }).then(resp => resp.json())
        }

        function getUser(users, userId) {
            let left = 0
            let right = users.length - 1
            let mid

            while (left <= right) {
                mid = parseInt((left + right) / 2)

                if (users[mid].user.id === userId)
                    return users[mid].user
                if (users[mid].user.id < userId)
                    left = mid + 1
                else
                    right = mid - 1
            }
        }

        function showMessages(resp) {
            let chat = document.getElementById('chat-log')
            chat.value = ''
            for (let message of resp.messages)
                chat.value += `${getUser(resp.users, message.sender).user_name}: ${message.text}\n`
        }

        window.addEventListener('load', (e) => {
            fetchMessages(roomPK)
            .then(showMessages)
            .catch(error => console.log(error))
        })
    </script>
</body>
</html>
